:root {
  --color_background: #FBF9EB;
  --color_window_background: #F9DC36;
  --color_h2: #286FC0;
  --color_h1: #E41B4A;
  --color_text: #0B1F36;
  --color_link: blue;
  --color_link_hover: aqua;
}

body {
  background-image: url("https://cdn.glitch.com/01a2ecf1-35ad-4f0b-9ef7-c1f4da0e69c4%2FChatSpaceBanner_V6.png?v=1575090169519");
}
.login_shade {
  border-color: #0B1F36;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
.form {
  background-color: var(--color_text);
  color: var(--color_h2);
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--color_window_background);
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
}
.form.header {
  background-color: var(--color_window_background);
  color: var(--color_text);
  width: 100%;
  margin-top: -5px;
  margin-bottom: 20px;
  margin-left: -4px;
  border-width: unset;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.form.header h1 {
  margin-left: 20px;
}
.form table {margin-left: 20px;}
.form a {margin-left: 20px;}
.form a {color: var(--color_link);}
.form a:hover {color: var(--color_link_hover);}
.form .create_account {
  margin-top:20px;
  margin-bottom: 20px;
}
.form input {
  border-color: #F9DC36;
  border-width: 2px;
}
.form table {
  margin-left: 20%;
}
.form input.in_field {
  width: 100%;
}
.form input.button {
  width: 100px;
  background-color: var(--color_text);
  color: var(--color_window_background);
  font-weight: bold;
  border-radius: 10px;
  border-color: var(--color_window_background);
}
.form input.button:hover {
  /*background-color: var(--color_link_hover);*/
  /*border-width: 15px;*/
  color: var(--color_text);
  background-color: var(--color_window_background);
  border-color: var(--color_window_background);
}
.error {
  color: var(--color_h1);
  font-size: 10px;
}
